In [1]:
#To install the pandas in jupytor notebook
!pip install pandas

Requirement already satisfied: pandas in c:\users\student286\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\student286\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\student286\anaconda3\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\student286\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\student286\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#import pandas
import pandas as pd

In [4]:
d={"Mouse":[150,200,300,400],
   "Keyboard":[180,200,190,300],
   "Scanner":[200,280,330,450]}

In [6]:
df=pd.DataFrame(d,index=["Jan","Feb","March","April"])
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [7]:
#Write code to access data of Mouse and Scanner columns.
df2=df[["Mouse","Scanner"]]
df2

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [9]:
#Write code to access data of the Keyboard column using dot notation and column name
df3= df.loc[:,'Keyboard'] #['Jan','April'] if you want to specify only these rows
df3

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [16]:
#Write code to access data of scanners using loc[].
df4 = df.loc[:,"Scanner"]
df4

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

In [18]:
#Write code to access data of all columns where mouse data is more than 300
df[df['Mouse']>=300][['Mouse','Keyboard','Scanner']]

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [21]:
#Write code to access columns using 0 and 2.
df5 = df.iloc[:,[0,2]]
df5

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [26]:
#Write code to access data of rows of jan and march for scanner and keyboard
df6= df.loc[['Jan','March'],"Scanner"] #if you want to specify only these rows
df6

Jan      200
March    330
Name: Scanner, dtype: int64

In [27]:
#Write code to access all data of rows from jan to April for scanner and keyboard
df7= df.loc[:,"Scanner"] #if you want to specify only these rows
df7

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64